
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
>
<link rel="stylesheet" href="/css/footer.css">
<footer class="site-footer">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Admin</h6>
        <% if(!locals.user) {%>
        <form action="/admin/sign-in" method="POST">
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">

          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            
          </div>
                <button type="submit" class="footerbtn ">Submit</button>
        </form>
        
        <%} else {%>
          <form action="/admin" method="GET">
            
                  <button type="submit" class="footerbtn">Go To Dashboard</button>
          </form>
          
          <form action="/admin/sign-out" method="GET">
            
            <button type="submit" class="footerbtn">Sign Out</button>
            </form>

          <% }%>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 footer-col">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/about">About Us</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="events">Events</a></li>
        </ul>
      </div>

      <div class=" footer-col col-xs-3 col-sm-3 col-md-3">
        <h6>Contact Us</h6>
        <ul class="footer-links">
          <li>Mail us at:</li>
          <li> <a href="mailto:Ladc@nitj.ac.in">Ladc@nitj.ac.in</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row pb-1">
      <div class="col">
        <ul class="social-icons">
          <li>
            <a
              target="_blank"
              class="facebook"
              href="https://www.facebook.com/ladsnitj/"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
          <li>
            <a
              target="_blank"
              class="dribbble"
              href="https://www.instagram.com/ladc_nitj/"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <!-- <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
