<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/footer.css">
<footer class="site-footer">
  
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">LADC is a Literary & Debating Club. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
          </div>
  
          <div class="col-xs-3  col-sm-3 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Events</a></li>
            </ul>
          </div>
  
          <div class="col-xs-3 col-sm-3 col-md-3 ">
            <h6>Contact Us</h6>
            <ul class="footer-links">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li>Drop your mail at:</li>
              <li>Ladc@nitj.ac.in</li>
           
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row pb-1">
         
  
          <div class="col">
            <ul class="social-icons">
              <li><a target="_blank" class="facebook" href="https://www.facebook.com/ladsnitj/"><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
              <li><a target="_blank" class="dribbble" href="https://www.instagram.com/ladc_nitj/"><i class="fa fa-instagram"></i></a></li>
              <!-- <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    
</footer>