<link rel="stylesheet" href="css/about.css">
<div class="container text-justify">
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-sm-12 ">
        <h3>About the LADC Society</h3>
        <br>
        <p>The Signet Society is the place at Harvard where students and faculty who are interested in the arts can meet over lunch and 
            without academic constraints. Special events such as readings, talks, screenings, shows, and receptions reflect the interests of 
            undergraduates, graduate, and associate members alike: literature, the performing arts, the fine arts, the social sciences, politics, 
            and culture. Renowned artists, writers, actors, and scholars visiting Cambridge often join Signet members for discussions or to give
             more formal presentations. The Signet Society Alumni work to connect Signet alumni living in 35 countries with the Harvard community 
             and each other.</p>
    <br>
    <br>
    
   

</div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-5  ">
        <h3>LADC Life</h3>
        <br>
        <p>The Signet is open from 6 a.m. until midnight during the eight months that the College is in session. Members can read, relax, play the piano, and entertain each other and their guests.</p>


</div>
<div class="col-md-5 col-sm-12 col-12">
    <img class="about-image" src="https://scontent.fluh1-1.fna.fbcdn.net/v/t31.0-8/29060567_960144107478014_7890786354507030292_o.jpg?_nc_cat=102&ccb=2&_nc_sid=e3f864&_nc_ohc=BFpkY9kbKvMAX_bj3PA&_nc_ht=scontent.fluh1-1.fna&oh=747c1d86063fc02d731adf8b47b90669&oe=6031C95A" alt="">
</div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-10 col-sm-12 col-12">
        <h3>LADC Life</h3>
        <br>
        <p>The Signet is open from 6 a.m. until midnight during the eight months that the College is in session. Members can read, relax, play the piano, and entertain each other and their guests.</p>


    </div>
</div>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-9 col-sm-10 col-10 border border-secondary">
        

    </div>
</div>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-sm-12 ">
        <h3>FIND OUT MORE</h3>
        <p>Below, you can find a variety of resources to learn more about the people and activities of the Signet Society. </p>
    <br>
    <br>
    
   

</div>
</div>


<div class="row justify-content-center">
    <div class="col-10 col-md-3 col-sm-6 mb-2 col-lg-2 mb-5">
        <div class="card">
            <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t31.0-8/29060567_960144107478014_7890786354507030292_o.jpg?_nc_cat=102&ccb=2&_nc_sid=e3f864&_nc_ohc=BFpkY9kbKvMAX_bj3PA&_nc_ht=scontent.fluh1-1.fna&oh=747c1d86063fc02d731adf8b47b90669&oe=6031C95A" class="card-img-top cimg" alt="...">
            <div class="card-body">
              <h5 class="card-title">LADC ALUMNI</h5>
              <p class="card-text">Some quick example text to build on the card title and.</p>
              <div style="text-align:center;"><a href="#" class="btn btn-warning">LEARN MORE</a></div>
            </div>
          </div>
</div>
<div class="col-10 col-md-3 col-sm-6 mb-2 col-lg-2 mb-5">
    <div class="card">
        <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/117385989_1676103219215429_6284840838078341627_o.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=yOOdwACwpFcAX9Sb2IE&_nc_ht=scontent.fluh1-1.fna&oh=9b0e7ab4030ae5f3b617c33aae5a515e&oe=60300E66" class="card-img-top cimg" alt="...">
        <div class="card-body">
          <h5 class="card-title">LADC MEMBERS</h5>
          <p class="card-text">Some quick example text to build on the card title and.</p>
          <div style="text-align:center;"><a href="#" class="btn btn-warning">LEARN MORE</a></div>
        </div>
      </div>
</div>
<div class="col-10 col-md-3 col-sm-6 mb-2 col-lg-2 mb-5">
    <div class="card">
        <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/90361654_1546751995483886_6700153216597753856_n.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=lsFuBxr5NQsAX9UjSvI&_nc_ht=scontent.fluh1-1.fna&oh=4941ccc8c773b086b90e25ddc7eace5f&oe=60325A29" class="card-img-top cimg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and.</p>
          <div style="text-align:center;"><a href="#" class="btn btn-warning">LEARN MORE</a></div>
        </div>
      </div>
</div>
<div class="col-10 col-md-3 col-sm-6 mb-2 col-lg-2 mb-5">
    <div class="card">
        <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/84469608_1498008003691619_8003935846908559360_o.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_ohc=5IHdhQxh7zsAX_HWha4&_nc_ht=scontent.fluh1-1.fna&oh=268213d870043fadec0e11eb9cfdb7e1&oe=6030A397" class="card-img-top cimg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and.</p>
          <div style="text-align:center;"><a href="#" class="btn btn-warning">LEARN MORE</a></div>
          
        </div>
      </div>
</div>
</div>

<br>
<div class="row justify-content-center">
    <div class="col-md-9 col-sm-10 col-10 border border-secondary">
        

    </div>
</div>
<br>
<br>
<br>
<br>

</div>
