<link rel="stylesheet" href="/css/addevent.css">
<h1 id="mheading">Add a new Event!</h1>
<form action="/events/addevent" method="POST" autocomplete="off">
   <div id="formdiv">
   <div class="fieldcontainer">
    <div class="fieldlabel"> 
        <label  for="title">Event Title</label>
    </div>
    <div class="field">
        <input  type="text" name="title" placeholder="Event Title">
    </div>
   </div> 
   <div class="fieldcontainer">
    <div class="fieldlabel"> 
        <label  for="location">Location</label>
    </div>
    <div class="field">
        <input  type="text" name="location" placeholder="Location">
    </div>
   </div>   
   
   <div class="fieldcontainer">
    <div class="fieldlabel"> 
        <label for="date">Date</label>
    </div>
    <div class="field">
        <input  type="date" name="date">
    </div>
   </div> 
   
   <div class="fieldcontainer">
    <div class="fieldlabel"> 
        <label  for="starttime">Start Time</label>
    </div>
    <div class="field">
        <input type="time" name="starttime" >
    </div>
  </div> 
  
  <div class="fieldcontainer">
    <div class="fieldlabel"> 
        <label  for="endtime"> End Time</label>
    </div>
    <div class="field">
        <input type="time" name="endtime">
    </div>
</div>

<div class="fieldcontainer1">
    <div class="fieldlabel"> 
        <label  for="eventdesc">Event Description</label>
    </div>
    <div class="field">
        <textarea name="eventdesc" id="" cols="50" rows="5" placeholder="Write Here!"></textarea>
    </div>
</div>


<div class="fieldcontainer1">
    <div class="fieldlabel"> 
        <label  for="modaldesc">Modal Description</label>
    </div>
    <div class="field">
        <textarea name="modaldesc" id="" cols="50" rows="5" placeholder="Write Here!"></textarea>
    </div>
    </div>
    <div class="fieldcontainer">
        <div class="fieldlabel"> 
            <label  for="reglink">Registration Link</label>
        </div>
        <div class="field">
            <input  type="text" name="reglink" placeholder="Registration Link">
        </div>
       </div>  
       <div class="fieldcontainer">
        <div class="fieldlabel"> 
            <label  for="imglink">Image Link</label>
        </div>
        <div class="field">
            <input  type="text" name="imglink" placeholder="Image Link">
        </div>
       </div>  
    <button class="submitbtn" type="submit">Submit</button>
</div> 
    
</form>