<link rel="stylesheet" href="css/adminMember.css">

<form action="/membership/add-member" method="POST">
    <div class="formmain">
        <div class="formtitle">
          <h4>Add a Member!!</h4>
        </div>
        <div class="forminput">
          <input type="text" class="form-control forminp" id="name" placeholder="Name" name="name">
          <input type="text" class="form-control forminp" id="email" placeholder="Email" name="email" >
          <input type="text" class="form-control forminp" id="batch" placeholder="Batch" name="batch" >
          <input type="text" class="form-control forminp" id="image" placeholder="Image Url" name="image" >
         <button type="submit" class="btn btn-warning formbtn">Add Member</button>
       
           
        </div>

       
    </div>
    </form>

<script defer src="scripts\adminMember.js"></script>