<link rel="stylesheet" href="css/admin.css">


<div class="container min-ht josefine-sans">
   
<div class="container"> 
<h2 class="heading pl-8">Welcome Admin</h2>
</div>
<div>
    <h3 class="heading">Add new admin</h3>
</div>
<div class="form-container">
 <form action="/admin/sign-up" method="POST">
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">

    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      
    </div>
          <button type="submit" class="btn btn-primary ml-4">Submit</button>
  </form>
</div>
 
</div>