<link rel="stylesheet" href="css/adminMember.css">

<form onsubmit="submitForm.call(this,event);return false;" action="/admin/add-member" method="POST">
  <div class="formmain">
    <div class="formtitle">
      <h4>Add a Member</h4>
    </div>
    <div class="forminput">
      <input required type="text" class="form-control forminp" id="name" placeholder="Name" name="name">
      <input required type="email" class="form-control forminp" id="email" placeholder="Email" name="email">
      <input required type="number" class="form-control forminp" id="batch" placeholder="Batch" name="batch">
      <input required type="file" class="form-control forminp" id="image" name="image">
      <button type="submit" class="btn btn-warning formbtn">Add Member</button>
    </div>
  </div>
</form>

<script defer src="scripts\adminMember.js"></script>