<link rel="stylesheet" href="css/alumni.css">


<div style='position: relative;' class="container min-ht">

  <div class='alum-nav'>
      <form>
        <div class="input-group">
          <div class='input-group-prepend'>
            <label class="input-group-text" for="Batch">Batch</label>
          </div>
          <select name="batch" id="batch" onchange='this.form.submit()'>
            <option value="all">All</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </div>
        
      </form>
    <button id="registerbtn" onclick='showModal(event)' class="btn btn-info">Register</button>
  </div>

  <div onclick='hideModal.call(this,event);' class='cancel-button'>
    <i class="fa fa-times"></i>
  </div>

  <div class='alumni-submit'>

    <div>
      <h3 style='display: inline;' class="heading">Register as an Alumnus</h3>
    </div>

    <div class="form-container">
      <form onsubmit='submitAlumniForm.call(this,event); return false;' action="/alumni/add-alumni" method="POST">
        <div class='row align-items-center justify-content-center'>
          <div class="form-group col-8">
            <label for="name">Name</label>
            <input required type="text" name="name" class="form-control" placeholder="Enter Name">
          </div>
        </div>
        <div class='row align-items-center justify-content-center'>
          <div class="form-group col-8">
            <label for="email">Email</label>
            <input required type="email" name="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class='row align-items-center justify-content-center'>
          <div class="form-group col-8">
            <label for="linkedin">Linkedin</label>
            <input required type="url" name="linkedin" class="form-control" placeholder="Linkedin Profile">
          </div>
        </div>
        <div class='row align-items-center justify-content-center'>
          <div class="form-group col-8">
            <label for="batch">Batch</label>
            <input required type="number" name="batch" class="form-control" placeholder="Batch">
          </div>
        </div>
        <div class='row align-items-center justify-content-center'>
          <div class="form-group col-8">
            <label for="image">Select Image</label>
            <input type="file" name="image" class="form-control">
          </div>
        </div>
        <div id='submitButtonWrapper' class='row align-items-center justify-content-center'>
          <button id='submitButton' type="submit" class="btn btn-primary ml-4">Submit</button>
          <img id="preloader" src="/images/preloader.svg" />
        </div>
      </form>
    </div>

  </div>



  <div id="all-alumnis" class="container">

  </div>
</div>


<script defer src="scripts\alumni.js"></script>