<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/blog.css">
<script defer src='scripts/blog.js'></script>


<div class='alum-nav'>
  <!-- <span>
    <label for="Batch">Choose a batch:</label>
    <select name="batch" id="batch" onchange='this.form.submit()'>
      <option value="all">All</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
  </span> -->
  <button onclick='showModal(event)' class="btn btn-info">Submit</button>
</div>

<div onclick='hideModal.call(this,event);' class='cancel-button'>
  <i class="fa fa-times"></i>
</div>

<div class='blog-submit'>
  <form action="/blog" method="POST">
    <div class="formmain">
      <div class="formtitle">
        <h4>Submit a blog</h4>
      </div>
      <div class="forminput">
        <input type="text" class="form-control forminp" id="name" placeholder="Name" name="name">
        <input type="text" class="form-control forminp" id="branch" placeholder="Branch" name="branch">
        <input type="text" class="form-control forminp" id="year" placeholder="Year" name="year">
        <input type="text" class="form-control forminp" id="title" placeholder="Title" name="title" required>
        <input type="text" class="form-control forminp" id="desc" placeholder="Short Description" name="desc" required>
        <input type="text" class="form-control forminp" id="imgurl" placeholder="Image Url(optinal)" name="imgurl">
        <textarea class="form-control" name="explanation" id="explanation" cols="30" rows="5"
          placeholder="Explanation"></textarea>
        <button type="submit" class="btn btn-warning formbtn">Post</button>
      </div>
    </div>
  </form>
</div>





<div class="container top-mg">
  <!-- end event block -->
</div>