<link href = "/css/contact.css" rel="stylesheet">
<body>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
     <h3 class="top">GENERAL INQUIRIES</h3>
   <div class="row flex-md-row-reverse">
    <div class="col-md-6" style="text-align: center;">
        <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/21740010_856172397875186_2927866860072895530_n.jpg?_nc_cat=103&ccb=2&_nc_sid=85a577&_nc_ohc=0dfnxetsqfYAX8AS0h9&_nc_ht=scontent.fluh1-1.fna&oh=289478840a08dd43f687064cb0478981&oe=60339DD5" style="max-width: 60%;max-height:60%;">
    </div>
    <div class="col-md-6">
      
       <div class="text-wrapper">
       <p> XYZ, Faculty Coordinator</p>
       <p> Literary and Debating Club</p>
        <p>Dr Br Ambedkar NIT Jalandhar</p>
      </div>
      <div class="text-wrapper">
       <p> Phone: 617.547.0526</p>
       <p> Email: LADC mail</p>
       <p> Facebook: @ladsnitj</p>
       <p> Instagram:@ladc_</p>
      </div>
       
      <div class="text-wrapper">
       <p> *** Email is a much more reliable way to get in touch, for now, since we have only irregular access to the office phone while working remotely. ***</p>
      </div>
     
       <h3 class="top">
        FACULTY INQUIRIES
      </h3>

      <div class="text-wrapper">
       <p> Faculty Coordinator1</p>
       <p> email@nitj.ac.in </p>
      </div>
     
      <div class="text-wrapper">
       <p> Faculty Coordinator2</p>
       <p> email@nitj.ac.in </p>
      </div>
        
      



    <br>
    </div>
   </div>


</div>

