<link href = "/css/events.css" rel="stylesheet">
<body>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
     <h3>GENERAL INQUIRIES</h3>
   <div class="row flex-md-row-reverse">
    <div class="col-md-6" style="text-align: center;">
        <img src="https://scontent.fluh1-1.fna.fbcdn.net/v/t1.0-9/21740010_856172397875186_2927866860072895530_n.jpg?_nc_cat=103&ccb=2&_nc_sid=85a577&_nc_ohc=0dfnxetsqfYAX8AS0h9&_nc_ht=scontent.fluh1-1.fna&oh=289478840a08dd43f687064cb0478981&oe=60339DD5" style="max-width: 60%;max-height:60%;">
    </div>
    <div class="col-md-6">
       <br>
        XYZ, Faculty Coordinator<br>
        Literary and Debating Club<br>
        Dr Br Ambedkar NIT Jalandhar<br>
        <br>
        
        Phone: 617.547.0526<br>
        Email: LADC mail<br>
        Facebook: @ladsnitj<br>
        Instagram:@ladc_nitj
        <br>
        <br>
        *** Email is a much more reliable way to get in touch, for now, since we have only irregular access to the office phone while working remotely. ***
       <br>
       <br>
       <h3>
        FACULTY INQUIRIES
      </h3>
     
        Faculty Coordinator1<br>
        email@nitj.ac.in <br>
         <br>
        Faculty Coordinator2<br>
        email@nitj.ac.in <br>
       <br>
      



    <br>
    </div>
   </div>


</div>

