
<link href="https://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href = "/css/events.css" rel="stylesheet">
<body>
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 title-mg-phone"><a href="event-details.html" class="text-theme-color">I am a Grammarian</a></h5>
                <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="far fa-clock margin-10px-right"></i> 09:00 AM - 09:30 PM</li>
                    <li><i class="fas fa-map-marker-alt margin-5px-right"></i> Location : IT Building</li>
                </ul>
                <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore

                </p>
                <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative right-align-img">
                <img src="https://via.placeholder.com/450x280/87CEFA/000000" alt="" class="resize">
                <div class="events-date">
                    <div class="font-size28">25</div>
                    <div class="font-size14">Feb</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img src="https://via.placeholder.com/450x280/B0C4DE/000000" alt="" class="resize">
                <div class="events-date">
                    <div class="font-size28">20</div>
                    <div class="font-size14">Feb</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 title-mg-phone"><a href="event-details.html" class="text-theme-color">MUN</a></h5>
                <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="far fa-clock margin-10px-right"></i> 09:20 AM - 12:00 AM</li>
                    <li><i class="fas fa-map-marker-alt margin-5px-right"></i> Location : CSH</li>
                </ul>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 title-mg-phone"><a href="event-details.html" class="text-theme-color">Technical Events</a></h5>
                <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="far fa-clock margin-10px-right"></i> 10:00 AM - 09:00 PM</li>
                    <li><i class="fas fa-map-marker-alt margin-5px-right"></i> Location : Venil Monts</li>
                </ul>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative right-align-img" >
                <img src="https://via.placeholder.com/450x280/7B68EE/000000" alt="" class="resize">
                <div class="events-date">
                    <div class="font-size28">25</div>
                    <div class="font-size14">Sep</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end event block -->

    <!-- start event block -->
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-5 col-sm-12">
            <div class="position-relative">
                <img src="https://via.placeholder.com/450x280/FF0000/000000" alt="" class="resize">
                <div class="events-date">
                    <div class="font-size28">10</div>
                    <div class="font-size14">Oct</div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500 title-mg-phone"><a href="event-details.html" class="text-theme-color">Startup Events</a></h5>
                <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                    <li><i class="far fa-clock margin-10px-right"></i> 11:00 AM - 09:00 PM</li>
                    <li><i class="fas fa-map-marker-alt margin-5px-right"></i> Location : Mavil Aven</li>
                </ul>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
            </div>
        </div>
    </div>
    <!-- end event block -->


</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js" async defer></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" async defer></script>

	
</script>
</body>

