
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css\header.css">
    <link rel="stylesheet" href="css\home.css">

    <div class="section-1">
        <img class="homeimage" src="https://www.nitj.ac.in//images/cce/nitj3.jpg" alt="image">
        <h1 id="mainheading" class="maintext ">LITERARY AND DEBATING CLUB</h1>
    </div>
    <div class="section-2">
        <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h3 class="section-2headings">ABOUT LADC</h3>
              <img class="aboutimage" src="https://images.squarespace-cdn.com/content/v1/5b8439743e2d0999975d9738/1535392957972-8ZAKOJGFQRKLHXPS3FJK/ke17ZwdGBToddI8pDm48kCa7inwlclHGl30QxEgIAn1Zw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7SlM6NErJyIg8_rFLci03bmnNk4nsJ9cg48Nv3RpOXLoTPMK29AmKOY_MhfpJc_wWQ/HivePencilArt.png?format=500w" alt="">
              <p>We are a small group of artists within a larger associated artistic community. Our members are students, alumni, and faculty. Hailing from a wide array of disciplines, we come together to celebrate the arts and letters. Outside of the Signet, we uphold our shared appreciation by contributing to and supporting the arts.

                For 150 years, the Signet Society has functioned as a gathering place for creative thinkers and their mentors—a forum for conversation and collaboration that lets those who occupy the space engage with and learn from one another. </p>
              <button type="button" class="section-2btn">LADC HISTORY</button>
          </div>
          <div class="col-md-4">
              <h3 class="section-2headings">ANNOUNCEMENTS</h3>
              <p>January 1, 2020: The Signet will be closed for the spring semester in compliance with Harvard University’s COVID-19 guidance and Harvard College’s prohibition on indoor gatherings, as well as the ongoing Governor's Orders on indoor gatherings. We will continue to prioritize the health and safety of our students and staff, and look forward to welcoming you back to lunch when it is safe to do so. For the time being, we are excited to build new community initiatives remotely. If you are a current Signet member or alum who’d like to be involved in planning these initiatives, please reach out to the Membership Office — we’ll be delighted to hear from you. </p>
               <hr>
               <p>March 11, 2020: 2020 marks the Signet’s Sesquicentennial! Signet alumni have celebrated our 150th at regional events in New York, Los Angeles, London, and Washington, DC. Given the current global pandemic, we’ve rescheduled our 150th Anniversary Dinner to April 24, 2021 – save the date, and visit the link below to read more about our 150th Anniversary.</p>
               <button type="button" class="section-2btn">LEARN MORE</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
