<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/membership.css">


<div class='bigHeader josephine-sans'>
  <h1 class="container"> Meet the Team </h1>

  </div>
  
  <div id="all-members" class="container josephine-sans">
    <h3 class="year">Final Year</h3>
    <div id="final-year" class="members">
          
    </div>
    <h3 class="year">Third Year</h3>
    <div id="third-year" class="members">
      
    </div>
  </div>
  
<script defer src="scripts\membership.js"></script>