<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/membership.css">

<div class="container">
  <div class='bigHeader josephine-sans'>
    <div>
      <h1 class="main-head"> Our Team </h1>
      <p>
        We always hope to strengthen ties with our alumni community . We welcome your suggestions about what news, events and features you'd like to see.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <hr>
    </div>
    
    </div>
    
    <div id="all-members" class="container josephine-sans">
      <h3 class="year">Final Year</h3>
      <div id="final-year" class="members">
            
      </div>
      <h3 class="year">Third Year</h3>
      <div id="third-year" class="members">
        
      </div>
    </div>
</div>

  
<script defer src="scripts\membership.js"></script>