<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/membership.css">


<div class='bigHeader josephine-sans'>
  <h1 class="container"> Meet the Team </h1>
  
  <!-- <div class="form-container batchSel">
    <form>
      <div class='input-group'>
        <div class='input-group-prepend'>
          <label class="input-group-text" for="Batch">Batch</label>
        </div>
        <select aria-label="Default select example" class='custom-select' name="batch" id="batch"
          onchange='this.form.submit()'>
          <option selected value="all">All</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
      </div>
    </form>
  </div> -->
</div>


  <div id="all-members" class="container josephine-sans">
    <h3 class="year">Final Year</h3>
    <div id="final-year" class="members">
          
    </div>
    <h3 class="year">Third Year</h3>
    <div id="third-year" class="members">
      
    </div>
  </div>
  
<script defer src="scripts\membership.js"></script>