<link rel="stylesheet" href="css/newsletter.css">
<div class="container text-justify josefine-sans" style="margin-top: 130px; margin-bottom:130px;">

  <!-- admin form -->
  <div class="row justify-content-center mart-20">
    <div class="col-12 col-sm-12 col-md-6">
      <form action="admin/postnewsletter" method="POST">
      <textarea name="newslettercontent" id="newslettercontent" cols="60" rows="10" placeholder="Newsletter Content"></textarea>
    </div>
    <div class="col-md-5 col-sm-12 col-12 newscol">
       
    <button type="submit" class="btn-lg btn-warning postbtn">Post</button>
     </form>
    </div>
  </div>
  </div>
