<link rel="stylesheet" href="css/newsletter.css">
<div class="container text-justify" style="margin-top: 130px; margin-bottom:130px;">

  <!-- admin form -->
  <div class="row justify-content-center mart-20">
    <div class="col-12 col-sm-12 col-md-6">
      <form action="/postnewsletter" method="POST">
      <textarea name="newslettercontent" id="newslettercontent" cols="60" rows="10" placeholder="Newsletter Content"></textarea>
    </div>
    <div class="col-md-5 col-sm-12 col-12 newscol">
       
    <button type="submit" class="btn-lg btn-warning postbtn">Post</button>
     </form>
    </div>
  </div>

<!-- user form -->
  <div class="row justify-content-center mart-20">
    <div class="col-12 col-sm-12 col-md-5">
        <h3>Get the weekly email that delivers remarkable ideas and actionable insights</h3>
      <p class="marg-top">
        Weekly wisdom you can read in 5 minutes, for free.
      </p>
      <p class="marg-top"> The 3-2-1 Newsletter is one of the most popular newsletters in the world. Every Thursday, the latest issue is sent to over 1,000,000 people. Each message includes 3 short ideas from me, 2 quotes from others, and 1 question for you to ponder.</p>
    </div>
    <div class="col-md-5 col-sm-12 col-12 newscol">
        <form action="/subscribe" method="POST">
     <div class="formmain">
         <div class="formtitle">
           <h4>Join 1M+ readers and add the free 3-2-1 Newsletter to your inbox.</h4>
         </div>
         <div class="forminput">
          <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" required>
            <button type="submit" class="btn btn-warning formbtn">Subscribe</button>
            <div id="errormsg"><%=errormsg%></div>
            
         </div>
         <div class="formend">
            <p>No spam. Nothing unexpected. Join for free and unsubscribe any time. </p>
          </div>
     </div>
     </form>
    </div>
  </div>
  </div>
