/* .container{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.form-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.card-btn{
    height: 40px;
    width:40vw;
    text-align:center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #df980c;
    letter-spacing: 3px;
    color: white;
    font-family: futura-pt;
    font-size: 0.8rem;
    font-weight: bold;
    border-color: #df980c;
    border-radius: 3px;
    
  }

  .card-btn:hover{
    background-color: #d49f34;
  }
*/
.card {
	padding: 1rem;
	border: 1px solid black;
	margin: 1rem;
	width: 1000px;
}

.alumni-submit {
	display: flex;
	transform: scale(0);
	position: fixed;
	background-color: rgba(20, 20, 20, 0.7);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.alumni-submit > div {
	width: 60%;
	background-color: #fafafa;
}
.alumni-submit > div:nth-child(1) {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 10%;
}
.alumni-submit > div:nth-child(2) {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 70%;
	overflow-y: auto;
	overflow-x: hidden;
}

.cancel-button {
	position: fixed;
	top: 15px;
	right: 15px;
	display: none;
	color: white;
	font-size: 1.3rem;
	z-index: 101;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	cursor: pointer;
}
/* .page-button {
	height: 40px;
	width: 100px;
} */
.alum-nav {
	/* border: 1px solid blue; */
	padding: 10px 0px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.card-horizontal {
	display: flex;
	align-items: center;
}
.card_image {
	max-width: 200px;
	max-height: 200px;
}
#all-alumnis {
	padding: 0px;
}

@media (max-width: 450px) {
	.alumni-submit > div {
		width: 100%;
	}
	.alumni-submit > div:nth-child(1) {
		height: 10%;
		border-radius: none;
	}
	.alumni-submit > div:nth-child(2) {
		height: 90%;
		overflow: auto;
		overflow-x: hidden;
		border-radius: none;
	}
	.image-square-wrapper {
		display: none;
	}
}
