


.marg-top{
    margin-top:40px;
}

.formmain{
    background-color:bisque;
    text-align: center;
    width:70%;
    margin:auto;
    margin-top:50px;
    padding:40px;
}


.forminput{
    padding-top:30px;
    padding-left:45px;
    padding-right:45px;

}

.forminp{
    margin-bottom:10px;
    height:50px;
}

#explanation{
    width:100%;
    margin-bottom:10px;
}

.formbtn{
    margin-top: 6px;
    width:30%;
    height:50px; 
    text-align: center;
    background-color: #df980c;
    letter-spacing: 3px;
    color: white;
    font-family: futura-pt;
    font-size: 1rem;
    font-weight: bold;
    border-color: #df980c;
    border-radius: 3px;   
}

.formbtn:hover{
    background-color: #d49f34;
    color: white;
  }

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem #fada5e;
} 










*{
    margin:0px;
}
body{
    background:#f5f5f5;
    margin-top:0px;
}
.top-mg{
    margin-top: 2rem;
}
.events-date {
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(25, 47, 89, 0.9);
    color: #fff;
    padding: 12px 20px 8px 20px;
    text-transform: uppercase
}
.resize{
    height: 250px;
    width: 100%;
}

.event-time li {
    display: inline-block;
    margin-right: 20px;
}

.event-time li:last-child {
    margin-right: 0
}

.event-time li i {
    color: #59c17a
}

.event-block {
    box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48)
}

.event-block ul li i {
    color: #59c17a
}
.right-align-img{
  text-align: right;
}
.left-align-img{
    text-align: left;
}

@media screen and (max-width: 1199px) {
    .event-date {
        padding: 10px 18px 6px 18px
    }
    .title-mg-phone{
        margin-top: 10px;
    }
    .resize {
        max-width: 100%;
      } 
   
}

@media screen and (max-width: 990px) {
   
    .event-date {
        padding: 8px 15px 4px 15px
    }
    .title-mg-phone{
        margin-top: 10px;
    }
    .events-date {
        padding: 10px 15px 6px 15px
    }
    .event-time li {
        display: inline-block;
        margin-right: 20px;
        margin-left: 0px;
    }
    .resize {
      max-width: 100%;
    } 
    .container{
        max-width: 480px;
    }
   
}


.position-relative {
    position: relative !important;
}

.margin-40px-bottom {
    margin-bottom: 40px;
}
.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}

.margin-15px-bottom {
    margin-bottom: 15px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size22 {
    font-size: 22px;
}
.text-theme-color {
    color: #192f59;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.margin-10px-right {
    margin-right: 10px;
}

.rmbtn{
    height: 40px;
    background-color: #df980c;
  letter-spacing: 3px;
  color: white;
  font-family: futura-pt;
  font-size: 1rem;
  font-weight: bold;
  border-color: #df980c;
  border-radius: 3px;
}

.rmbtn:hover{
    
  border-color: #df980c;
  background-color: #d49f34

}

.addeventbtn{
    display: block;
    margin: auto;
    background-color: #df980c;
  letter-spacing: 3px;
  color: white;
  font-family: futura-pt;
  font-size: 1rem;
  font-weight: bold;
  border-color: #df980c;
  border-radius: 3px;
  height: 40px;
}


.addeventbtn:hover{
    border-color: #df980c;
    background-color: #d49f34
  }



