.text-justify {
  text-align: justify;
}

.site-footer {
  margin-top: 70px;
  background-color: black;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #bbb;
  margin-bottom: 0%;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: white;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links.inline li {
  display: inline-block;
}
.footer-col{
 
  text-align: center;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .social-icons {
    text-align: center;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  #admincolumn{
    text-align: center;
  }

  #admin-heading{
    margin-left: 0px !important;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #33353d;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-left: 20px;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
.fa {
  margin-top: 30%;
}


.footerbtn {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 3%;
  text-align: center;
  height: 35px;
  width: 150px;
  letter-spacing: 3px;
  background-color: transparent;
  color: white;
  font-family: futura-pt;
  font-size: 1rem;
  font-weight: bold;
  border-color: white;
  border-radius: 3px;
}


.footerbtn:hover {
  background-color: white;
  color: black;
}

#dashboardbtn{
  height: 60px;
}