
  
.navbar {
    background-color: #5d0e0e;
    height: 20vh;
}

.active{
    color: yellow !important;
}

.navcolor {
    background-color: #5d0e0e;
    text-align: left;
    z-index: 1;
}

.nav-link {
    margin-left: 5px;
    color: white !important;
    font-weight: bold;
    font-family: Josefin Sans;
}

.nav-link:hover {
    color: yellow !important;
    font-weight: bold;
}

.headerladclogo{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20vh;
    width: 20vh;
    transition: 1s;
}

.headerladclogo:hover{
    height: 25vh;
    width: 25vh;
}


.headerladclogo{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20vh;
    width: 20vh;
    transition: 1s;
}

.headerladclogo:hover{
    height: 25vh;
    width: 25vh;
}

.logodisappear{
    display: none;
}
.nav-link {
    margin-left: 5px;
    color: black !important;
    font-weight: bold;
    font-family: Josefin Sans;

}

.nav-link:hover {
    color: white !important;
    font-weight: bold;
}
.logodisappear{
    display: none;
}
