.navbar{
    background-color: aqua;
    
}

.navcolor{
    background-color: rgb(148, 34, 34);
    text-align: left;
}

.nav-link{
   margin-left: 5px;
   color: black !important;
   font-weight: bold;
   font-family: Josefin Sans;
}

.nav-link:hover{
   color: white !important;
   font-weight: bold;
}

