@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.josefine-sans {
	font-family: Josefin Sans;
}

p {
	font-size: 1rem;
	font-family: europa;
} 

.section-1 {
	z-index: -1;
	width: 100%;
	height: 65vh;
}

.maintexterase {
	display: none;
}

.homeimage {
	position: absolute;
	background-image: url('https://www.nitj.ac.in//images/cce/nitj3.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	z-index: -2;
	height: 80vh;
	width: 100%;
}

.maintext {
	color: black;
	text-align: center;
	font-weight: bolder;
	font-family: Josefin Sans;
	font-weight: 900;
	font-size: 4vw;
	margin: 30px;
	border-bottom: 1px solid gainsboro;
}

/* .maintext:hover {
	transition: all 1s;
	font-size: 5vw;
} */

.section-2 {
	text-align: center;
}

.container {
	margin: auto;
	width: 100%;
}

.row {
	margin: auto;
}

.col-md-4 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.section-2headings {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 1rem;
}

.aboutimage {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 30vh;
	width: 30vh;
}

.section-2btn {
	margin: auto;
	margin-top: 7%;
	margin-bottom: 10%;
	text-align: center;
	height: 6vh;
	width: 27vh;
	background-color: #df980c;
	letter-spacing: 3px;
	color: white;
	font-family: 'Oswald', 'sans-serif';
	font-size: 1rem;
	font-weight: bold;
	border-color: #df980c;
	border-radius: 3px;
	transition: all 100ms ease-in-out 0s;
}
.section-2btn[class~='history']:hover{
	transform: translate(-5px,0px);
}
.section-2btn[class~='contact']:hover{
	transform: translate(5px,0px);
}
