body{
    margin:0;
    text-align: center;
    font-family: europa;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    
}

::selection {
    background: rgba(0, 0, 0, 0.99);
    color: #FFF;
 }