body {
    margin: 0;
    text-align: center;
    font-family: europa;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;

}


.logodisappear{
    display: none;
}


.navcolor {
    background-color: rgb(148, 34, 34);
    text-align: left;
}